window {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14pt;
    color: #c6d0f5;
    background-color: rgba(0, 0, 0, 0.8);
}

button {
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    margin: 5px;
    background-color: #303446;
}

button:hover {
    background-color: #ea999c;
    color: #232634;
}

button:focus {
    background-color: #e78284;
    color: #232634;
}

/* Background images for buttons */
#lock {
    background-image: url("./icons/lock.png");
}

#lock:hover,
#lock:focus {
    background-image: url("./icons/lock-hover.png");
}

#logout {
    background-image: url("./icons/logout.png");
}

#logout:hover,
#logout:focus {
    background-image: url("./icons/logout-hover.png");
}

#suspend {
    background-image: url("./icons/sleep.png");
}

#suspend:hover,
#suspend:focus {
    background-image: url("./icons/sleep-hover.png");
}

#shutdown {
    background-image: url("./icons/power.png");
}

#shutdown:hover,
#shutdown:focus {
    background-image: url("./icons/power-hover.png");
}

#reboot {
    background-image: url("./icons/restart.png");
}

#reboot:hover,
#reboot:focus {
    background-image: url("./icons/restart-hover.png");
}
