[submodule "awesome-buttons"]
	path = home/awesome/.config/awesome/awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons
[submodule "awesome-wm-widgets"]
	path = home/awesome/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "tmux-tpm"]
	path = home/tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
