[Desktop Entry]
Name=Calculator
GenericName=Calculator
Comment=Calculator
MimeType=
Exec=calculator %F
Icon=Calculator
Type=Application
Terminal=false
Categories=Calculator;
StartupNotify=true
StartupWMClass=Calculator
