SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/hashem/.files/bin/scripts/brightness AC"
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/hashem/.files/bin/scripts/brightness BAT"
