@import "themes/frappe.css";

* {
  font-size: 13px;
  font-family: "LiterationSans Nerd Font";
  font-weight: 400;
  color: @text;
  /* background-color: @base; */
  /* border-color: @crust; */
}

#waybar {
  background: transparent;
  border-radius: 0px;
}

#custom-launcher,
#custom-calculator,
#custom-clipboard,
#custom-new,
#custom-new,
#workspaces,
#window,
#taskbar,
#clock,
#tray,
#network,
#bluetooth,
#wireplumber,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#battery,
#custom-wallpaper,
#idle_inhibitor,
#custom-power,
#custom-notification {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
  border-radius: 8px;
  background-color: shade(@base, 0.9);
}

#workspaces,
#taskbar,
#window,
#clock,
#tray,
#custom-notification {
  border: 2px solid alpha(@crust, 0.3);
}

#custom-launcher,
#custom-calculator,
#custom-clipboard,
#custom-wallpaper,
#idle_inhibitor,
#custom-new,
#custom-power {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

#custom-launcher {
  margin-right: 2px;
  border-radius: 8px 8px 8px 8px;
  border-left: 2px solid alpha(@crust, 0.3);
  border-top: 2px solid alpha(@crust, 0.3);
  border-right: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#settings:hover #custom-launcher {
  margin-right: 0px;
  border-radius: 8px 0px 0px 8px;
  border-right: 0;
  border-top: 2px solid alpha(@crust, 0.3);
  border-left: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#custom-calculator {
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#custom-clipboard {
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#custom-wallpaper {
  border-right: 0px;
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#idle_inhibitor {
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#custom-new {
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#custom-power {
  border-radius: 0 8px 8px 0;
  border-right: 2px solid alpha(@crust, 0.3);
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#workspaces,
#taskbar {
  padding-left: 2px;
  padding-right: 2px;
}

#workspaces button.active {
  background-color: @crust;
}

#workspaces button.urgent {
  background-color: @red;
}

#workspaces button.empty {
  background-color: @surface0;
}

#taskbar button.active {
  background-color: @crust;
}

#taskbar button.empty {
  background-color: transparent;
}

#network,
#bluetooth,
#wireplumber,
#pulseaudio,
#backlight,
#battery {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

#network {
  margin-left: 2px;
  border-radius: 8px 0 0 8px;
  border-top: 2px solid alpha(@crust, 0.3);
  border-left: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#bluetooth {
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#wireplumber {
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#pulseaudio {
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#backlight {
  margin-right: 2px;
  border-radius: 0 8px 8px 0;
  border-top: 2px solid alpha(@crust, 0.3);
  border-right: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#cpu,
#memory,
#temperature,
#battery {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

#battery {
  margin-right: 2px;
  border-radius: 8px 8px 8px 8px;
  border-left: 2px solid alpha(@crust, 0.3);
  border-top: 2px solid alpha(@crust, 0.3);
  border-right: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#hardware:hover #battery {
  margin-right: 2px;
  border-radius: 0 8px 8px 0;
  border-left: 0;
  border-top: 2px solid alpha(@crust, 0.3);
  border-right: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#temperature {
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#cpu {
  margin-left: 2px;
  border-radius: 8px 0 0 8px;
  border-top: 2px solid alpha(@crust, 0.3);
  border-left: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}

#memory {
  border-top: 2px solid alpha(@crust, 0.3);
  border-bottom: 2px solid alpha(@crust, 0.3);
}
