# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[[mgr.prepend_keymap]]
on = ["<C-h>"]
run = """hidden toggle"""
desc = "Show hidden files"

[[mgr.prepend_keymap]]
on = ["a"]
run = """create"""
desc = "Create a file or directory (ends with / for directories)"

[[mgr.prepend_keymap]]
on = ["<C-n>"]
run = """shell "dragon-drop --and-exit --on-top "$@"" --confirm"""
desc = "Open file with dragon"

[[mgr.prepend_keymap]]
on = ["!"]
run = """shell "$SHELL" --block --confirm"""
desc = "Open shell in the current directory"

[[mgr.prepend_keymap]]
on = ["g", "w"]
run = """cd ~/Workspace"""
desc = "Open shell in the current directory"

[[mgr.prepend_keymap]]
on = ["g", "r"]
run = '''shell 'ya emit cd "$(git rev-parse --show-toplevel)"''''

[[mgr.prepend_keymap]]
on = ["l"]
run = """plugin smart-enter"""
desc = "Enter the child directory, or open the file"

[[mgr.prepend_keymap]]
on = ["T"]
run = """plugin max-preview"""
desc = "Maximize or restore preview"

[[mgr.prepend_keymap]]
on = ["<C-t>"]
run = """plugin hide-preview"""
desc = "Hide or show preview"

[[mgr.prepend_keymap]]
on = ['f', 'u']
run = """shell 'unarchive "$@"' """
desc = "Unarchive the file under the cursor"

[[mgr.prepend_keymap]]
on = ['f', 'a']
run = """shell 'archive "$@" "$(ya input -p "Archive format: ")"'"""
desc = "Archive the file under the cursor with specified format"

[[mgr.prepend_keymap]]
on = ['w']
run = """shell 'feh --bg-fill "$@"'"""
desc = "Change wallpaper"

# [[manager.prepend_keymap]]
# on = ["<A-Enter>"]
# run = """shell '$TERMINAL -e $SHELL -c -i \"cd $PWD && yazi && exec $SHELL\"' --orphan --confirm"""
# desc = "Spawn new yazi window in CWD"

# [[manager.prepend_keymap]]
# on = ["j"]
# run = ["plugin --sync arrow --args=1"]
# desc = "Move selection downwards or wrap."

# [[manager.prepend_keymap]]
# on = ["k"]
# run = ["plugin --sync arrow --args=-1"]
# desc = "Move selection upwards or wrap."
